:root {
    --sidebar-bg-color: #cacaca;
    --sidebar-button-color: #b8b8b8;
    --chat-bg-color: #585858;
    --chat-title-color: #b8b8b8;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* .ContainerFormDescricao {
    width: 500px;
} */

.sidebar {
    width: 20%;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    padding: .5em;
}

.sidebar .sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sidebar .sobre {
    width: 100%;
    margin-top: 1em;
    background-color: var(--sidebar-button-color);
}

.sidebar .sidebarMenu {
    margin-top: 1em;
}

.sidebar .sidebarMenu .menuTitle {
    font-size: large;
    font-weight: bold;
}

.sidebar .sidebarMenu .menuItem {
    background-color: var(--sidebar-button-color);
    padding: 1em;
    margin-bottom: .5em;
    border-radius: 8px;
}

.chatContainer {
    background-color: var(--chat-bg-color);
    width: 80%;
    height: 100%;
    
    padding: 1em;
}

.chatContainer .title {
    font-size: 24px;
    color: var(--chat-title-color);

    margin: 8px;
}

.chatContainer .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.chatContainer .chat {
    position: relative;
}

.chatContainer .chat .chatText {
    border-radius: 15px;
}

.chatContainer .chat button {
    position: absolute;
    bottom: 6px;
    right: 6px;
}